@media (max-width: 950px) {
  .displaySection {
    .topHeadlines {
      .story {
        width: calc(100% / 2);
        padding-bottom: 50px;
      }
    }
  }
}

@media (max-width: 840px) {
    .categorySection {
        .buttons {
            button {
                font-size: 1.5rem;
            }
        }
    }
}

@media (max-width: 700px) {
    .displaySection {
    .topHeadlines {
      .story {
        width: 100%;
      }
    }
  }
}

@media (max-width: 650px) {
    .categorySection {
        .buttons {
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 500px) {
    .displaySection {
        .flag {
            width: 15%;
        }
    }

    .categorySection {
        .buttons {
            button {
                width: 70%;
            }
        }
    }
}

@media (max-width: 340px) {
    header {
        .head {
            h1 {
                font-size: 3rem;
            }
        }
    }

    .displaySection {
        h2 {
            font-size: 2.5rem;
        }

        .flag {
            width: 20%;
        }

        .topHeadlines {
            .story {
                h3 {
                    font-size: 2rem;
                }
            }
        }
    }
}