html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: "EB Garamond", serif;
}

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 90%;
  display: block;
  margin: 0 auto;
}

header {
  background: #dee2e6;
  padding: 25px 0;
}

header h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 4rem;
  text-transform: uppercase;
}

.displaySection h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 3rem;
  text-align: center;
  padding: 20px 0;
}

.displaySection .topHeadlines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 2px solid black;
}

.displaySection .topHeadlines .story {
  width: calc(100% / 4);
  border: 1px solid lightgray;
  padding: 0 10px 50px;
}

.displaySection .topHeadlines .story h3 {
  font-family: "Abril Fatface", cursive;
  font-size: 2.5rem;
  text-align: center;
  padding: 10px;
}

.displaySection .topHeadlines .story p {
  padding: 15px 0;
  width: 90%;
  display: block;
  margin: 0 auto;
}

.displaySection .topHeadlines .story a {
  margin-left: 5%;
}

.categorySection .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 50px 0;
  border: 1px solid red;
}

.categorySection .buttons button {
  text-transform: uppercase;
  border: 1px solid gray;
  background-color: black;
  margin: 0 20px;
  color: white;
  cursor: pointer;
  padding: 25px 40px;
}

.categorySection .buttons button:hover, .categorySection .buttons button:focus, .categorySection .buttons button.buttonSelected {
  background-color: white;
  color: black;
}

footer {
  background-color: #dee2e6;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin-bottom: 5px;
}

footer a {
  color: black;
}

footer a:hover, footer a:focus {
  color: gray;
}

@media (max-width: 950px) {
  .displaySection .topHeadlines .story {
    width: calc(100% / 2);
    padding-bottom: 50px;
  }
}
