body, h1, p, h2, h3 {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: "EB Garamond", serif;
}

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

header {
  background: #dee2e6;
  padding: 25px 0;
}

header h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 4rem;
  text-transform: uppercase;
}

.displaySection h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 3rem;
  text-align: center;
  padding: 20px 0;
}

.displaySection .topHeadlines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid black;
}

.displaySection .topHeadlines .story {
  width: calc(100% / 4);
  border: 1px solid lightgray;
  padding: 0 10px;
}

.displaySection .topHeadlines .story h3 {
  font-family: "Abril Fatface", cursive;
  font-size: 2.5rem;
  text-align: center;
  padding: 10px;
}

.displaySection .topHeadlines .story p {
  padding: 15px 0;
}

.displaySection .topHeadlines .story button {
  background: #dee2e6;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.displaySection .topHeadlines .story button:hover, .displaySection .topHeadlines .story button:focus {
  background: grey;
  color: white;
}

.categorySection .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 50px 0;
}

.categorySection .buttons button {
  text-transform: uppercase;
  border: 1px solid gray;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 25px 40px;
}

.categorySection .buttons button:hover, .categorySection .buttons button:focus {
  background-color: white;
  color: black;
}

footer {
  background-color: #dee2e6;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin-bottom: 5px;
}

footer a {
  color: black;
}

footer a:hover, footer a:focus {
  color: gray;
}
